* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body {
    background-color: #252525;
}
header {
    background-color: #0078d7;
    height: 11vh;
    position: relative;
    display: flex;
    align-content: center;
}
.all-small {
    display: none;
}
.all-btn {
    cursor: pointer;
}
.logo {
    max-width: 9vw;
    max-height: 9vh;
    position: absolute;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-left: 0.8vw;
    margin-top: 0.9vh;
}
span {
    font-size: 1.5vw;
    text-align: center;
    height: 6.5vh;
    align-self: center;
    position: absolute;
    padding-top: 1.1vh;
}
.lable {
    right: 50%;
    transform: translateX(50%);
    font-size: large;
}
.all {
    width: 8.5vw;
    top: 2.2vh;
    right: 0.8vw;
    background-color: #e6e6e6;
    color: black;
    /* padding: 10px; */
    border-radius: 0.5vw;
}

.container {
    display: grid;
    grid-template-columns: 1fr 17fr 1fr;
    height: 89vh;
}

#all {
    width: 75vw;
    position: relative;
    margin: 5% auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    display: none;
    grid-auto-rows: 200px;
}
#all div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    border: #0078d7 2px solid;
    padding: 1px;
    transition: background-color 0.5s ease;
}

#all div:hover {
    background-color: #0078d7;
    cursor: pointer;
}

#all img {
    max-width: 100%;
    max-height: 100%;
}

.expand {
    height: 5vh;
    position: absolute;
    right: 0;
    bottom: 1%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}
.nav {
    width: 3vw;
    align-self: center;
    cursor: pointer;
}

.prev {
    grid-column: 1;
    justify-self: left;
    margin-left: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.next {
    grid-column: 3;
    justify-self: right;
    margin-right: 20px;
}

.images {
    grid-column: 2;
    position: relative;
}
.images:hover .expand {
    opacity: 1;
    cursor: pointer;
    pointer-events: all;
}

.image {
    max-width: 98%;
    max-height: 98%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
    header {
        height: 9vh;
    }
    .all {
        display: none;
    }
    .all-small {
        display: inline;
        max-width: 7vw;
        max-height: 7vh;
        position: fixed;
        top: 0.9vh;
        right: 0;
        margin-right: 0.8vw;
    }
    .logo {
        max-width: 7vw;
        max-height: 7vh;
    }
    .lable {
        top: 0;
        margin-top: 0.9vh;
    }
    .container {
        grid-template-columns: 1fr;
        height: 91vh;
    }
    #all {
        width: 100vw;
    }
    .images {
        grid-column: 1;
    }
    .expand {
        display: inline;
        right: 1%;
        opacity: 1;
        cursor: pointer;
        pointer-events: all;
    }
    .nav {
        display: none;
    }
}
