* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Caveat Brush", cursive;
}
.mobile {
    visibility: hidden;
}
body {
    background-color: rgb(41, 41, 41);
}
header {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

header * {
    margin: 5px;
}
.title {
    color: #ffff3f;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 10px;
}
.logo {
    max-width: 8vw;
    max-height: 8vh;
}

.container {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 80px;
}
.fa-plus {
    font-size: 1.5rem;
}
button.new {
    justify-self: start;
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    background-color: #ffff3f;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 0.2s ease-in-out, font-size 0.1s ease-in-out;
}

button.new:hover {
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
}

button.new:active {
    box-shadow: none;
    font-size: 1.9rem;
}

.notes {
    margin-top: 10px;
    width: 85%;
    margin-left: 4%;
    display: flex;
    flex-wrap: wrap;
}
.note-wrapper {
    background-color: #ffff3f;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.note {
    height: 180px;
    width: 270px;
}

.note-title {
    height: 20%;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
    background-color: #ffff3f;
    font-size: 1.5rem;
}
.note-body {
    height: 80%;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    resize: none;
    outline: none;
    border: none;
    background-color: #ffff3f;
    overflow: auto;
    border-bottom: 1px solid black;
}

.note-body::-webkit-scrollbar {
    width: 5px;
}
.note-body::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
}
.note:hover .note-body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.336);
}

.options {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.options i {
    margin-left: 5px;
    cursor: pointer;
}
.colors {
    list-style: none;
    display: flex;
    background-color: rgba(54, 54, 54, 0.2);
    border-radius: 10px;
    padding-right: 5px;
    padding-top: 2px;
    transform-origin: right;
    transition: all 0.3s ease-in-out;
}

.invisible {
    opacity: 0;
    transform: rotateY(90deg);
    pointer-events: none;
}

.modal {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-cont {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 70%;
    background-color: #ffff3f;
    padding: 25px;
    border-radius: 10px;
    opacity: 1;
    overflow: auto;
}

.modal-title {
    font-size: 3rem;
    border-bottom: 1px solid black;
}

.modal-body {
    font-size: 2rem;
    margin-top: 4%;
    white-space: pre-wrap;
}

.fa-times {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal-cont::-webkit-scrollbar {
    width: 10px;
}
.modal-cont::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.336);
    border-radius: 20px;
}

@media only screen and (max-width: 768px) {
    body {
        background: rgb(37, 37, 37);
    }
    .mobile {
        visibility: visible;
    }
    .title {
        display: none;
    }
    .logo {
        max-width: 10vw;
        max-height: 10vh;
        top: 10px;
        left: 10px;
    }
    button.new {
        display: none;
    }
    .fa-plus.mobile {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 2rem;
        color: #ffffff;
        text-shadow: 0 0 3px black;
    }
    .container {
        flex-direction: unset;
        margin-top: 10px;
    }
    .note-wrapper {
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        padding-bottom: 5px;
    }
    .notes {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .note {
        width: 100%;
        height: auto;
    }
    .note-body {
        border-bottom: none;
    }
    .options {
        position: relative;
    }
    .options i {
        font-size: 1.2rem;
    }
    .colors {
        border-radius: 0;
    }

    .fa-chevron-down,
    .fa-chevron-up {
        position: absolute;
        right: 95%;
    }
    .modal-cont {
        min-width: 100vw;
        min-height: 100vh;
    }
    .fa-times {
        font-size: 2rem;
    }
}
