* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
body {
    background: linear-gradient(to left, #213c47, #1d3842);
    color: #f1e7e7;
}
header {
    background: #2a9d8f;
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    padding: 30px 10px;
}

.title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.5rem;
}
header * {
    padding: 5px;
}
header a {
    margin: 0;
    padding: 0;
}
.logo {
    max-width: 8vw;
    max-height: 8vh;
    padding: 0;
}

.search {
    grid-area: s;
    align-self: flex-start;
    margin: 50px auto;
    justify-self: center;
    width: 40%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.container {
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "c t"
        "e e"
        "d d";
}

.tp-autocomplete {
    flex: 1;
    position: relative;
}
#city {
    width: 100%;
    font-size: 1.1rem;
    padding: 11px;
    padding-right: 40px;
    text-align: center;
    border: none;
    background-color: #e76f51;
    border-radius: 100px;
    outline: none;
}
#city::placeholder {
    color: #f1e7e7;
}
#submit {
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    font-size: 1.05rem;
    padding: 12px 13px;
    background: none;
    cursor: pointer;
}

.tp-ac__list {
    position: absolute;
    list-style: none;
    z-index: 1;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #e76f51;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
    font-size: 1.1rem;
    width: 93%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tp-ac__item {
    overflow: hidden;
    padding: 0.5em 0.71429em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #252525;
}
.tp-ac__item:hover,
.tp-ac__item.is-active {
    background-color: #e9c46a;
}
.tp-ac__item.no-results,
.tp-ac__item.no-results:hover {
    cursor: default;
    background-color: #e9c46a;
}
.tp-ac__item span {
    color: black;
    font-weight: bold;
}

.city-info {
    grid-area: c;
    justify-self: center;
    padding-left: 60px;
    font-size: 1.3rem;
    line-height: 2.65rem;
}
.weather-info {
    grid-area: t;
    justify-self: center;
    display: flex;
    font-size: 3rem;
    align-items: center;
    margin-right: 40px;
}
.temp {
    font-size: 6rem;
}
.unit {
    align-self: flex-start;
    padding-top: 10px;
}
.cel {
    cursor: pointer;
}
.feh {
    cursor: pointer;
}
.disabled {
    pointer-events: none;
}
.weather-info span {
    font-size: 2rem;
}
.extra {
    margin-top: 30px;
    justify-self: center;
    grid-area: e;
    display: flex;
    padding: 20px 0;
}

.extra p {
    font-size: 1.5rem;
    margin: 0 40px;
}
.extra span {
    font-weight: bold;
}
.speed {
    cursor: pointer;
}

.animator {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
#sun {
    opacity: 0;
    pointer-events: none;
    width: 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#ray {
    transform-origin: 50%;
    animation: rotate 9s infinite cubic-bezier(0, 0, 0, 0);
}
@keyframes rotate {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

.days {
    grid-area: d;
    margin-top: 50px;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
}

.day-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    line-height: 1.5rem;
    border-left: 1px solid #2a9d8f;
}

.day-card p {
    font-size: 0.9rem;
}

.day-card img {
    width: 60%;
}

.day-card:first-child {
    border: none;
}

@media only screen and (max-width: 768px) {
    header {
        height: 10%;
        margin: 0px auto;
        padding: 6px;
    }
    .title {
        font-size: 2rem;
    }
    .logo {
        max-width: 10vw;
    }
    header a {
        margin: 0;
        padding: 0;
    }
    .search {
        width: 90%;
    }
    .container {
        width: 100%;
        grid-template-areas:
            "c"
            "t"
            "e"
            "d";
    }
    .city-info {
        padding: 0;
        text-align: center;
    }
    .temp {
        font-size: 5rem;
    }
    .weather-info {
        text-align: center;
        margin: 10px 0;
    }
    .weather-icon {
        width: 25%;
    }
    .unit {
        margin-left: 10px;
    }
    .unit span {
        font-size: 1.5rem;
    }
    .extra {
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
        padding-top: 0;
    }
    .extra p {
        margin: 5px 0;
    }
    #sun {
        width: 30%;
        top: 60%;
    }
    .days {
        margin-top: 20px;
        flex-direction: column;
        width: 100%;
    }
    .day-card {
        flex-direction: row;
        justify-content: space-around;
        border: none;
    }
    .day-card p {
        font-size: 1.5rem;
    }
    .day-card img {
        width: 2rem;
    }
}
