* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    margin: 18px;
    text-align: center;
    background-color: red;
}
.body {
    text-align: center;
    font-size: 18px;
}
#answer {
    margin-top: 10px;
}
